<!DOCTYPE html>
<html>
    <body>
        <table align = "center" style = "width:800px; border:3px solid #ddd; font-family:sans-serif,Arial, Helvetica; font-size:14px; padding:0px; line-height:25px;">
            <tr>
                <td style = "text-align: center; border-bottom: 3px solid #ddd;">
                    <img src="Images/logo.png" />
                </td>
            </tr>
            <tr>
                <td style= "padding:10px;" >
                    <p style= "margin: 0px; " > Dear Customer,</p>
                    <p  style= "margin: 0px; " ><b> {{ OTP }} </b> is the One Time Password(OTP) for your Finalyca Login.</p>
                </td>
            </tr>
            <tr>
                <td style= "padding:10px; " >
                    <h3 style= "padding-top:0px; margin: 0px; " > Important:</h3>
                    <p style= "margin: 0px; "> Do not share your OTP with anyone as per the Privacy Policy agreed with Finalyca.</p>
                </td>
            </tr>
            <tr>
                <td style= "padding:10px; " >
                    <h3 style= "padding-top:0px; margin: 0px; " > Please Note:</h3>
                    <ul>
                        <li> OTP will be valid for 10 minutes from the time you have placed the request.</li>
                        <li> If you have not received the OTP, you can request for the same to be re - sent to you on your registered mobile number and email address.</li>
                        <li> For any queries, please write to <a href= "mailto:support@finalyca.com" style= "color:#F47921;" > support@finalyca.com </a> </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style= "padding:10px; " >
                    <p style= "margin: 0px; " > Regards, </br> Team Finalyca </p>
                </td>
            </tr>
            <tr>
                <td style= "background: #F7941D; padding: 10px;">
                    <p style= "font-size:11px; color:#fff;"> <b> DISCLAIMER:</b> This communication is confidential and privileged and is directed to and for the use of the addressee only.The recipient if not the addressee should not use this message if erroneously received, and access and use of this e - mail in any manner by anyone other than the addressee is unauthorized.Before opening and accessing the attachment, if any, please check and scan for virus.</p>
                </td>
            </tr>
        </table>
    </body>
</html>